@model AddressForm.MvcWeb.Models.PersonEditorModel
@{
    ViewBag.Title = "New Person";
}

<h2>@ViewBag.Title</h2>

@Html.Partial("_PersonEditorForm", Model)

@section Scripts
{
    @Html.Partial("_PersonEditorFormScripts", Model)
}